body, html {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(#2d7adf, #055a85, #2d7adf);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 111px;
    max-width: fit-content;
}

.to-do-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 9px black;
    max-width: fit-content;
}

.to-do-list-head {
    color: white;
    padding: 10px 155px 10px 155px;
    border-radius: 10px 10px 0px 0px;
    font-size: 20px;
    background-color: #055a85;
}

.input-button-container {
    display: flex;
    padding: 20px;
    gap: 40px;
}

.input-bar {
    width: 290px;
    padding-left: 15px;
    padding-right: 15px;
}

.add-btn {
    padding: 10px 20px;
    background-color: #055a85;
    color: white;
    font-weight: 700;
    font-size: 15px;
    border: none;
    transition: .1s;
}

.add-btn:hover {
    background-color: #2d7adf;
}

.add-btn:active {
    background-color: #055a85;
    box-shadow: 0 0 2px #666;
    transform: translateY(2px);
}

.added-list-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 9px black;
    padding: 10px 20px;
    gap: 50px;
    max-width: 470px;
}

.added-list {
    display: flex;
}

.added-list-toggle {
    display: flex;
    text-decoration: line-through;
    font-weight: 600;
}

.done-delete-btn {
    display: flex;
    gap: 5px;
}

.done-btn {
    padding: 10px 20px;
    background-color: #2d7adf;
    color: white;
    font-weight: 700;
    font-size: 15px;
    transition: .1s;
    border: none;
}

.done-btn:hover {
    background-color: blue;
}

.done-btn-toggle {
    background-color: blue;
    box-shadow: 0 0 2px #666;
    text-decoration: line-through;
    transform: translateY(2px);
}

.delete-btn {
    padding: 10px 20px;
    background-color: #af0c00;
    color: white;
    font-weight: 700;
    font-size: 15px;
    transition: .1s;
    border: none;
}

.delete-btn:hover {
    background-color: red;
}

.delete-btn:active {
    background-color: #af0c00;
    box-shadow: 0 0 2px #666;
    transform: translateY(2px);
}

.toDoList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: calc(100vh - 300px);
    margin: -10px -32px;
    padding: 10px 32px;
    overflow: scroll;
}

.toDoList::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.toDoList::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.toDoList {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}